In [2]:
import pandas as pd
import numpy as np
import os
import re

In [3]:
dataset_path = './ml-100k'
base1 = pd.read_csv(os.path.join(dataset_path,'u1.base'), header=None)
base1.describe()
test1 = pd.read_csv(os.path.join(dataset_path,'u1.test'), header=None)
test1.describe()

                             0
count                    20000
unique                   20000
top     328\t519\t5\t885046420
freq                         1

In [4]:
data = np.zeros([80000,4])

iloc = 0
with open(os.path.join(dataset_path,'u1.base')) as f:
    for line in f:
        data[iloc,:] = line.split('\t')
        iloc += 1
        
ratings_train = pd.DataFrame(data,columns=['user_id','movie_id','rating','timestamp'])
ratings_train.describe()

           user_id      movie_id        rating     timestamp
count  80000.00000  80000.000000  80000.000000  8.000000e+04
mean     525.16570    425.705200      3.528350  8.835645e+08
std      255.94956    331.383936      1.118565  5.318611e+06
min        1.00000      1.000000      1.000000  8.747247e+08
25%      334.00000    175.000000      3.000000  8.794556e+08
50%      535.00000    321.000000      4.000000  8.828441e+08
75%      744.00000    631.000000      4.000000  8.882676e+08
max      943.00000   1682.000000      5.000000  8.932866e+08

In [5]:
data = np.zeros([20000,4])

iloc = 0
with open(os.path.join(dataset_path,'u1.test')) as f:
    for line in f:
        data[iloc,:] = line.split('\t')
        iloc += 1
        
ratings_test = pd.DataFrame(data,columns=['user_id','movie_id','rating','timestamp'])
ratings_test.describe()

           user_id      movie_id       rating     timestamp
count  20000.00000  20000.000000  20000.00000  2.000000e+04
mean     211.76095    424.829850      3.53590  8.833864e+08
std      121.64690    328.452907      1.15368  5.441471e+06
min        1.00000      1.000000      1.00000  8.747247e+08
25%       99.00000    174.000000      3.00000  8.793730e+08
50%      222.00000    322.000000      4.00000  8.824747e+08
75%      308.00000    633.000000      4.00000  8.882045e+08
max      462.00000   1591.000000      5.00000  8.932777e+08

In [6]:
data = np.zeros([100000,4])

iloc = 0
with open(os.path.join(dataset_path,'u.data')) as f:
    for line in f:
        data[iloc,:] = line.split('\t')
        iloc += 1
        
ratings = pd.DataFrame(data,columns=['user_id','movie_id','rating','timestamp'])
ratings.head(10)
ratings.describe()

            user_id       movie_id         rating     timestamp
count  100000.00000  100000.000000  100000.000000  1.000000e+05
mean      462.48475     425.530130       3.529860  8.835289e+08
std       266.61442     330.798356       1.125674  5.343856e+06
min         1.00000       1.000000       1.000000  8.747247e+08
25%       254.00000     175.000000       3.000000  8.794487e+08
50%       447.00000     322.000000       4.000000  8.828269e+08
75%       682.00000     631.000000       4.000000  8.882600e+08
max       943.00000    1682.000000       5.000000  8.932866e+08

In [7]:
genres_info = pd.read_csv(os.path.join(dataset_path,'u.genre'),header=None,delimiter="|")
genres_info = genres_info.rename(columns={0:'genre'}).drop(columns=[1])
genres = list(genres_info['genre'])
print(genres)

['unknown', 'Action', 'Adventure', 'Animation', "Children's", 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [11]:
movies = pd.read_csv(os.path.join(dataset_path,'u.item'),header=None,encoding='ISO-8859-1',delimiter="|")
movies = movies.rename(columns={0:'movie_id',1:'title'}).drop(columns=[2,3,4])
genres_names = {}
for i in range(5,24):
    genre = genres[i-5].lower()
    #genre = re.sub("[^a-zA-Z0-9 ]", " ", genre)
    #genre = genre.strip()
    #genre = re.sub("\s+", " ", genre)
    genres_names[i] = genre
    
movies = movies.rename(columns=genres_names).set_index(['movie_id']).drop(columns=['title'])
#movies.describe()
movies.head(10)

,unknown,action,adventure,animation,children's,comedy,crime,documentary,drama,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
movie_id,,,,,,,,,,,,,,,,,,,
1,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0
6,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
8,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0

In [10]:
from scipy.sparse import csr_matrix
from scipy import sparse

num_ratings = 100000
num_users = 943
num_movies = 1682

# userId matrix with shape[100000,943]
uid_mat = csr_matrix(([], ([], [])), shape=(num_ratings, num_users))

# movieId matrix with shape[100000,1682]
mid_mat = csr_matrix(([], ([], [])), shape=(num_ratings, num_movies))

# uids contains a sequence of user_id in the order of ratings
uids = list(ratings['user_id']-1)
mids = list(ratings['movie_id']-1)

# In each rating, the user who rated the movie is set to one
uid_mat[range(num_ratings), uids] = 1
# In each rating, the movie which is rated is set to one
mid_mat[range(num_ratings), mids] = 1

print(type(uid_mat))

/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:19: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.
/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:21: SparseEfficiencyWarning: Changing the sparsity structure of a csr_matrix is expensive. lil_matrix is more efficient.

<class 'scipy.sparse.csr.csr_matrix'>

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [10]:
# stop_words = set(stopwords.words('english'))   # have to download
movie_id = list(ratings['movie_id'])
genres = movies.columns
#print(movie_id)

movie_genres = []
for iloc in range(num_movies):
    judge = list(movies.iloc[iloc]==1)
    judge_index = [i for i, x in enumerate(judge) if x]
    movie_genres.append(' '.join([genres[i] for i in judge_index]))

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(movie_genres)
movie_genres_map = X.toarray()
#print(vectorizer.get_feature_names())
print(X.shape)
print(X.toarray()) # X.toarray() is numpy.ndarray
print(movie_genres_map[0])
#print(movie_genres)
    
    
    # find genres of each movie being rated. construct tf-idf of genres

(1682, 21)
[[0.         0.         0.74066017 ... 0.         0.         0.        ]
 [0.53676706 0.65097024 0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]]
[0.         0.         0.74066017 0.57387209 0.34941857 0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.         0.         0.         0.
 0.         0.         0.        ]

In [11]:
genres_mat = np.zeros([num_ratings, 21])

for i in range(num_ratings):
    genres_mat[i] = movie_genres_map[int(mids[i])]

In [12]:
genres_mat = sparse.csr_matrix(genres_mat)
print(type(genres_mat))
print(genres_mat.shape)
print(genres_mat)

<class 'scipy.sparse.csr.csr_matrix'>
(100000, 21)
  (0, 4)	1.0
  (1, 5)	0.38231324554854784
  (1, 10)	0.5342605102970769
  (1, 13)	0.4411132499510552
  (1, 14)	0.5342605102970769
  (1, 17)	0.29729967586589695
  (2, 3)	0.8541290539419342
  (2, 4)	0.5200611110362477
  (3, 7)	0.2480037786742468
  (3, 15)	0.39271725518143463
  (3, 19)	0.5593429655280826
  (3, 20)	0.6865877439630753
  (4, 5)	0.8966427178409158
  (4, 7)	0.44275482667369725
  (5, 9)	0.5597570628006706
  (5, 16)	0.5597570628006706
  (5, 19)	0.611018871467594
  (6, 0)	0.7071067811865476
  (6, 17)	0.7071067811865476
  (7, 1)	0.6035270741421865
  (7, 3)	0.6207745808557714
  (7, 15)	0.5003938354343638
  (8, 4)	0.3857741712122011
  (8, 12)	0.7683400720900841
  (8, 15)	0.5107169690211435
  :	:
  (99988, 19)	0.6088519546192082
  (99989, 1)	0.43128439456419654
  (99989, 2)	0.5725386362198002
  (99989, 3)	0.4436095756694238
  (99989, 12)	0.5379626617297519
  (99990, 7)	0.5339496321125392
  (99990, 15)	0.8455162862812781
  (99991, 2)	0.6345915113407754
  (99991, 3)	0.4916888630049177
  (99991, 12)	0.5962681240274058
  (99992, 7)	1.0
  (99993, 4)	0.4201175950444482
  (99993, 7)	0.3512338190957366
  (99993, 12)	0.8367413045006755
  (99994, 1)	0.6548237202125763
  (99994, 3)	0.6735371748270751
  (99994, 7)	0.342860860368931
  (99995, 4)	1.0
  (99996, 4)	0.3788381736710695
  (99996, 9)	0.6544011148254443
  (99996, 16)	0.6544011148254443
  (99997, 17)	1.0
  (99998, 3)	0.8541290539419342
  (99998, 4)	0.5200611110362477
  (99999, 20)	1.0

In [13]:
ratings_mat = np.array(list(ratings['rating']))#.reshape((100000,1))
print(ratings_mat)

[3. 3. 1. ... 1. 2. 3.]

In [14]:
from scipy.sparse import hstack

In [15]:
mat = hstack((uid_mat, mid_mat, genres_mat))

In [16]:
print(mat.shape)
print(type(mat))

(100000, 2646)
<class 'scipy.sparse.coo.coo_matrix'>

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(mat, ratings_mat, test_size=0.2)

In [40]:
print(X_train.shape)
print(type(X_train))
print(y_train)

(80000, 2646)
<class 'scipy.sparse.csr.csr_matrix'>
[2. 5. 2. ... 4. 4. 4.]

In [36]:
from pyfm import pylibfm
from sklearn.metrics import mean_squared_error
fm = pylibfm.FM(num_factors=10, num_iter=10, verbose=True, task="regression", initial_learning_rate=0.01,learning_rate_schedule="optimal")
fm.fit(X_train,y_train)

Creating validation dataset of 0.01 of training for adaptive regularization
-- Epoch 1
Training MSE: 0.49700
-- Epoch 2
Training MSE: 0.40545
-- Epoch 3
Training MSE: 0.35863
-- Epoch 4
Training MSE: 0.32223
-- Epoch 5
Training MSE: 0.29047
-- Epoch 6
Training MSE: 0.26660
-- Epoch 7
Training MSE: 0.24706
-- Epoch 8
Training MSE: 0.23369
-- Epoch 9
Training MSE: 0.22487
-- Epoch 10
Training MSE: 0.21944

In [37]:
y_pred = fm.predict(X_test)
print(y_pred.shape)

(20000,)

In [38]:
print(mean_squared_error(y_test, y_pred))
print(y_test[:100])
print(y_pred[:100])

0.892142971065922
[3. 5. 3. 4. 5. 2. 5. 1. 4. 3. 4. 4. 4. 2. 5. 3. 3. 4. 5. 4. 5. 5. 4. 2.
 4. 3. 4. 2. 3. 3. 2. 1. 4. 3. 2. 2. 5. 3. 4. 1. 3. 4. 5. 3. 5. 4. 4. 3.
 5. 5. 1. 3. 4. 5. 3. 4. 3. 5. 5. 5. 4. 1. 5. 4. 3. 1. 5. 3. 3. 3. 3. 3.
 3. 2. 5. 4. 3. 4. 4. 3. 4. 3. 3. 4. 5. 5. 4. 5. 2. 3. 1. 3. 3. 4. 5. 3.
 3. 3. 4. 5.]
[2.94921001 4.37496084 3.8657114  2.97592594 3.26181406 3.31476648
 4.41896293 3.63209577 3.70890477 3.05973414 3.50520487 3.89476743
 4.1627275  2.46182869 3.99209345 3.28852833 3.04708811 4.16556101
 5.         3.04917458 4.3773367  3.84742342 4.05157636 4.37698798
 4.85511533 3.27899954 3.98278593 2.51553428 4.51890901 3.33887982
 2.61439141 1.         3.31176992 2.89112397 3.23881256 3.15427657
 3.03928193 3.79171704 4.06015165 1.73906179 3.38954273 3.36427961
 4.91987195 2.7478592  3.63521289 3.50586002 4.05261537 2.82628284
 4.45836013 4.44045734 3.22277086 3.40514061 3.1873767  4.35392087
 4.01720199 3.99805067 2.62420879 4.55532768 4.985836   4.83482209
 2.64371967 3.54800983 4.61321057 4.01041937 3.10410013 3.49048454
 3.96380808 2.46311218 4.19675027 4.38497472 3.08294661 4.15112661
 2.59503861 3.97622786 3.77648203 3.69112093 3.30709484 3.2834924
 4.75866576 3.80712967 3.64507986 2.72731258 3.0487426  4.42713412
 4.34120139 4.59844123 4.14588616 3.87595222 2.71240488 4.17433887
 2.60100274 3.95441331 3.36249109 3.64066306 4.37885933 3.96929898
 3.63160225 3.50092892 4.02356304 4.81226897]